<section class="card">
  <h1>Endre eier</h1>
  <% if (error) { %><ul class="flash"><li><%= error %></li></ul><% } %>
  <form method="post">
    <label>Navn
      <input name="name" required value="<%= o.name %>">
    </label>
    <div class="actions">
      <a class="btn" href="/owners">Avbryt</a>
      <button type="submit" class="btn primary">Lagre</button>
    </div>
  </form>
</section>
